.button {
  padding: 8px 15px;
  font-size: 120%;
  background: $blue;
  color: $white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:hover{
    background: darken($blue, 10%)
  }
}
.button.active {
  background: darken($blue, 10%)
}

.cancel {
  background: #ebebeb;
  color: #999;
  &:hover{
    background: darken(#ebebeb, 10%)
  }
}
.disabled {
  opacity: .75;
  &:hover {
    background: $blue;
    opacity: .75;
  }
  cursor: default;
}
